#spanBaoCao {
  color: black;
}
.tableResults {
  background-color: azure;
  border-radius: 5px;
  padding: 0px 15px;
}
.report {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.AiCom {
  margin-top: 10px;
}

.report__overview--show {
  background-color: rgba(230, 187, 230, 0.762);
  padding: 15px;
  margin: 3px 2px;
}
.sumary__ {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 28px;
}
.activitySum {
  background-color: white;
  padding-right: 12px;
  font-weight: bold;
  color: rgb(87, 87, 87);
  font-size: 18px;
}
.coverStudyImage {
  position: relative;
  padding: 3px;
  width: 100%;
  height: auto;
  margin: auto;
}
.userInfor--avatar-size {
  width: 100%;
  height: auto;
  margin: auto;
}
.avatar-profile {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 0px 5px white;
}
.dropdownAvatar {
  position: absolute;
  left: 137px;
  bottom: 15px;
}
.userInfor {
  padding-top: 10px;
  position: relative;
  justify-content: flex-end;
  align-content: space-around;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.imageAvatar {
  position: absolute;
  top: -67px;
  left: 39px;
}
.userInfor--Name {
  margin-left: 250px;
  padding-left: 10px;
}
.imageCover {
  width: 100%;
  max-height: 312px;
}
.imageSub {
  object-fit: cover;
  width: 100%;
  height: 25vh;
}
#userInfo {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}
#loginrequire {
  display: flex;
    font-size: 20xp;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px;
    color: #080808;
    opacity: 0.9;
    padding: 8px 12px;
    min-width: 70px;
    /* background-color: #0abde3; */
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: stretch;
}
.user-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#dropdown-showImage{
  position: absolute;
  bottom: 1px;
  right: 1px;
}
.btn-require{
background-color:#ff7675 ;
padding: 5px 20px;
border-radius: 5px;
color: whitesmoke;
font-weight: 600;
margin-right: 20px;
}
.btn-require:hover {
  background-color: #FFF;
  border: #ff7675 2px solid;
  color: #ff7675;
}
#profile-avatar {
  box-shadow: 0 0 5px rgb(51 173 82);
  width: 150px;
  height: 150px;
  object-fit: fill;
  border-radius: 50%;
}
.avatarUser__Info{
  padding: 2px;
  text-align: center;
  font-size: 1rem;
}
.AvatarUser{
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#dropdown-changeAvatar{
  position: absolute;
  right: -34px;
  bottom: 30px;
}
.changeAsolute-ChageAvatar{
  position: relative;
}
.bg-success{
  font-size: 11px;
}