.modeCSS {
  text-align: center;
  display: flex;
  padding: 10%;
}
.toogle {
  height: 100px;
  width: 200px;
  border-radius: 50px;
  margin: auto;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR25DvvPFonURydUpLR-1apzik441ylitwLyQ&usqp=CAU');
  position: relative;
  cursor: pointer;
}

.toggle.night {
  background-image: linear-gradient(midnightblue, rebeccapurple);
}

.night > .notch {
  background-image: url('./../../../public/toggleOff.png');
  /* background-color:#ffc107; */
  background-size: cover;
  box-shadow: 0 0 5px whitesmoke;
  transform: translate(100px, 0);
  background-color: #f0f8ff00;
}

.notch {

  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: aliceblue;
  /* background-image: url('https://i.pinimg.com/236x/fa/d3/72/fad372b93478dfb037a62e41d1f97660.jpg'); */
  /* background-image: url("../../../public/bee.png"); */
  background-size: cover;
  position: absolute;
  top: 5px;
  left: 5px;
  box-shadow: 0 0 5px yellow;
  z-index: 1;
  transition: all 0.3s ease;
}
