body {
  background-color: #d95550;
  /* background-color: #000000; */
  width: 70%;
  margin: auto;
}
.study {
  padding: 0px 12px;
  max-width: 620px;
  margin: auto;
}
.children {
  max-width: 480px;
  margin: auto;
}
.marginTop {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  margin-bottom: 40px;
}
.inputAddTask {
  border-radius: 4px;
  font-size: 22px;
  padding: 10px 0px;
  box-shadow: none;
  border: none;
  color: rgb(85, 85, 85);
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  border-bottom: 1px solid rgb(34, 34, 34);
  margin-bottom: 3px;
}
.display {
  display: inline-flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  color: white;
}

.active,
.display--button:hover {
  margin: 0px;
  border-radius: 4px;
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.15) none repeat scroll 0% 0%;
  box-shadow: none;
  color: white;
  opacity: 1;
  font-weight: bold;
  padding: 2px 12px;
  border: medium none;
}
.display--button + .display--button {
  margin-left: 20px;
}


.display__content--padding {
  padding: 10px 5px 2px 10px;
}
.display__content__form {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 14px;
  padding: 5px;
}

.display__content__form__input {
  border-bottom: 3px solid rgba(255, 255, 255);
  color: aliceblue;
  background-color: #dd6662;
}
.pomodoro {
  color: rgb(85, 85, 85);
  font-weight: bold;
}
.countPomodoro {
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  font-size: 16px;
  padding: 10px;
  box-shadow: none;
  border: none;
  color: rgb(85, 85, 85);
  width: 75px;
  box-sizing: border-box;
  margin-right: 10px;
  font-weight: bold;
}
.toogleButton {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 0px 30px;
  border-radius: 6px;
  margin-bottom: 20px;
  width: 100%;
}
.task-timer {
  max-width: 480px;
  margin: 20px auto 42px;
}
.Header__container{
  background-color: inherit;
  width: 100%;
  height: 60px;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
}
nav {
/* background-color: #d95550; */
background-color: #000000;
border-bottom: 1px solid rgb(114, 104, 104);
}
.headerStudy {
  max-width: 620px;
  margin: auto;
}
#score{
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: left;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px;
  color: white;
  opacity: 0.9;
  font-size: 14px;
  padding: 8px 12px;
  min-width: 70px;
  background-color: rgb(34, 34, 34);
  border: 2px solid rgb(34, 34, 34);
  display: inline-block;
}
#note{
  border: 1px solid rgb(34, 34, 34);
}
.menu {
  background-color: inherit;
  width: 100%;
  height: 60px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.upPomodoro {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  font-size: 14px;
  padding: 8px 12px;
  display: inline-block;
  min-width: 0px;
  width: 40px;
  background-color: white;
  color: rgb(85, 85, 85);
  border: 1px solid rgb(223, 223, 223);
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px;
  margin: 0px 2px;
}
.downPomodoro {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  font-size: 14px;
  padding: 8px 12px;
  display: inline-block;
  min-width: 0px;
  width: 40px;
  background-color: white;
  color: rgb(85, 85, 85);
  border: 1px solid rgb(223, 223, 223);
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px;
  margin: 0px 2px;
}
.saveTask {
  padding: 14px 20px;
  text-align: right;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgb(239, 239, 239);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}
#btnCancel {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  font-size: 14px;
  padding: 8px 12px;
  min-width: 70px;
  display: inline-block;
  margin-right: 14px;
  background: none;
  border: none;
  color: rgb(136, 136, 136);
  font-weight: bold;
  box-shadow: none;
}
.btnSave {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px;
  color: white;
  opacity: 0.9;
  font-size: 14px;
  padding: 8px 12px;
  min-width: 70px;
  background-color: rgb(34, 34, 34);
  border: 2px solid rgb(34, 34, 34);
  display: inline-block;
}
.feedback,
.form-design {
  color: rgb(0, 0, 0);
}
.youtube {
  display: block;
  margin-left: auto;
  margin-top: auto;
}
.youtube__video {
  padding: 5px;
}
.countdown {
  font-size: 100px;
  font-weight: bold;
  margin-top: 20px;
}
#show-Timer {
  color: aliceblue;
}
#taskName {
  color: rgb(85, 85, 85);
  font-weight: bold;
  width: 85%;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  line-height: 1.5em;
}
.taskEdit {
  cursor: pointer;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 4px;
  padding: 4px 4px;
  background-color: white;
  width: 25px;
}
#changeSizeImg {
  width: 25px;
  opacity: 0.4;
  margin-top: 3px;
}
#timeAndEdit {
  color: #000000;
  display: flex;
  justify-content: space-around;
}
.container-taskDetail {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.task-detail {
  width: 100%;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  text-align: left;
  font-size: 16px;
  box-sizing: border-box;
  transition: unset;
  box-shadow: none;
  transform: translateY(2px);
  border-left: 6px solid rgb(34, 34, 34);
}

.feebackAndTime {
  text-align: center;
  max-width: 480px;
    margin: 20px auto 42px;

}

.taskDetail {
  max-width: 480px;
  margin: 20px auto 42px;
}
#chart{
  color: black;
}
.form {
  background-color: white;
  border-radius: 8px;
  text-align: left;
  margin-top: 12px;
  box-shadow: rgb(0 0 0 / 15%) 0px 10px 20px, rgb(0 0 0 / 10%) 0px 3px 6px;
  animation: 0.1s ease-in-out 0s 1 normal none running expand;
}
.taskPadding {
  padding: 10px 20px 0px;
}
.paddingUpDown {
  position: relative;
  padding: 8px 0px 18px;
}

#taskText {
  width: 50%;
}
#HieuSuat {
  width: 50%;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.coffe {
  width: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.study--boder {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 0px 30px;
  border-radius: 6px;
  margin-bottom: 20px;
  width: 100%;
}
.AiCom__content {

  padding-left: 20px;

  /* border: 1px solid blueviolet; */
  color:rgb(0, 0, 0);
}

